.receipt {
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 90%;

  background-color: #b2dde1;
}
.wprapper {
  column-gap: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90px;
}
.x {
  width: 20px;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
}

.input-width {
  width: 100%;
  min-width: 60px;
}
.wrap {
  font-size: 1.2em;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
